<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Loja</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/stylesheets/myAccount.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='/stylesheets/navBar.css'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    <link rel='stylesheet' type='text/css' media='screen' href='/stylesheets/bootstrap.min.css'>
    <script src='/javascripts/sideBar.js' defer></script>
    <script src='/javascripts/bootstrap.bundle.min.js' defer></script>
</head>

<body>
    <nav id="nav-container">
        <header id="header"><a class="open-btn" onclick="toggleSidebar()">Tênis Zone</a></header>
        <ul class="nav-links">
            <% if (!cliente) { %>
                <li><a href="/login"><i class="bi bi-person-circle"></i></a></li>
             <% } else { %>
                <li><a href="/carrinho/"><i class="bi bi-cart2"></i></a></li>
                <li><a href="/minhaConta/<%= cliente.clienteID %>"><i class="bi bi-person-circle"></i></a></li>
            <% } %>
        </ul>
    </nav>

    <div class="sidebar" id="sidebar">
        <a href="/home" class="home-button"><i class="bi bi-house"></i></a>
        <button class="close-btn" onclick="toggleSidebar()"><i class="bi bi-arrow-left-short"></i></button>

        <ul class="sidebar-links">
            <% if(!cliente){ %>
                <li><a href="/masculino">Masculino</a></li>
                <li><a href="/feminino">Feminino</a></li>
            <% } else { %>
                <li><a href="/masculino">Masculino</a></li>
                <li><a href="/feminino">Feminino</a></li>
                <li><a href="/minhasCompras">Minhas compras</a></li>
            <% } %>
        </ul>
        <% if (cliente) { %>
            <div class="container-links">
                <li><a href="/logout" class="logout-button"><i class="bi bi-box-arrow-right"></i></a></li>
            </div>
        <% } %>
    </div>

     <form class="form" action="/minhaConta/<%= cliente.clienteID %>?_method=PUT" method="POST">
        <p class="form-title">Minha conta</p>
        <div class="input-container">
          <input type="text" placeholder="Nome..." name="nome" value="<%= cliente.nome %>">
          <input type="text" placeholder="CPF..." name="cpf" value="<%= cliente.cpf %>" disabled>
          <input type="text" placeholder="Telefone..." name="telefone" value="<%= cliente.telefone %>">
          <input type="date" placeholder="Data de Nascimento..."  name="data_nascimento" value="<%= cliente.data_nascimento.toISOString().substring(0, 10) %>" >
          <input type="email" placeholder="Email..." name="email" value="<%= cliente.email %>">
          <input type="password" placeholder="Senha..." name="senha" >
        </div>
        <div class="button-container">
            <button type="submit" class="submit"><strong>Editar</strong></button>
        </div>
    </form>
</body>

</html>