<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>
        <%= produto.nome %> | Tênis Zone
    </title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    <link rel='stylesheet' type='text/css' media='screen' href='/stylesheets/navBar.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='/stylesheets/productPage.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='/stylesheets/bootstrap.min.css'>
    <script src='/javascripts/sideBar.js' defer></script>
    <script src='/javascripts/slider-images.js' defer></script>
    <script src='/javascripts/selectSize.js' defer></script>
    <script src='/javascripts/bootstrap.bundle.min.js' defer></script>
</head>

<body>
    <nav id="nav-container">
        <header id="header"><a class="open-btn" onclick="toggleSidebar()">Tênis Zone</a></header>
        <% if (!cliente) { %>
            <a href="/login"><i class="bi bi-person-circle"></i></a>
            <% } else { %>
                <a href="/minhaConta/<%= cliente.clienteID %>"><i class="bi bi-person-circle"></i></a>
                <% } %>
    </nav>
    <div class="sidebar" id="sidebar">
        <button class="close-btn" onclick="toggleSidebar()">x</button>
        <a href="/home" class="home-button"><i class="bi bi-house"></i></a>
        <% if (!cliente) { %>
            <a href="#">Masculino</a>
            <a href="#">Feminino</a>
            <% } else { %>
                <a href="/logout" class="logout-button"><i class="bi bi-box-arrow-right"></i></a>
                <a href="#">Masculino</a>
                <a href="#">Feminino</a>
                <% } %>
    </div>
    <main id="content-container">
        <article class="image-container">
            <div class="slider-container">
                <div class="slider">
                    <% if (produto.imagens && produto.imagens.length> 0) {
                        const imagensArray = produto.imagens.split(','); %>
                        <% imagensArray.forEach(imagem=> { %>
                            <img src="/images/<%= produto.pasta_imagens %>/<%= imagem.trim() %>"
                                alt="<%= produto.nome %>">
                            <% }) %>
                                <% } else { %>
                                    <img src="/images/sem-imagem-disponivel.jpg" alt="Imagem indisponível">
                                    <% } %>
                </div>
                <button class="prev">❮</button>
                <button class="next">❯</button>
            </div>
        </article>
        <aside>
            <div class="product-info">
                <p class="title">
                    <%= produto.nome %>
                </p><br>

                <% if (produto.precoOriginal) { %>
                    <p class="old-price">R$ <%= produto.preco_original%>
                    </p><br>
                    <% } %>

                        <p class="old-price">
                            <%= produto.preco_original %>
                        </p>

                        <p class="info"><strong>R$ <%= produto.preco_pix%> no Pix</strong></p>
                        <p class="info">ou <strong>R$ <%= produto.preco_parcelado%></strong> em até <strong>12x sem
                                juros</strong></p><br>
                        <p class="info"><strong>Cor:</strong>
                            <%= produto.cor %>
                        </p><br>
                        <p class="info"><strong>Quantidade no estoque:</strong>
                            <%= estoque.quantidade %>
                        </p><br>
                        <% const tamanhosArray=produto.tamanhos.split(','); %>
                            <div class="tamanhos">
                                <p class="info"><strong>Tamanhos disponíveis:</strong></p>
                                <% tamanhosArray.forEach(tamanho=> { %>
                                    <button class="product-size" type="button"
                                        onclick="selecionarTamanho('<%= tamanho.trim() %>')">
                                        <%= tamanho.trim() %>
                                    </button>
                                    <% }) %>
                            </div>
                            <form method="POST" action="/carrinho/adicionar/<%= produto.produtoID %>">
                                <input type="hidden" name="tamanho" id="inputTamanhoSelecionado" required>
                                <button type="submit" class="buy-button">Comprar</button>
                            </form>
            </div>
        </aside>
    </main>
</body>

</html>